html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #e4e5ea;
  font-family: "Montserrat", "Inter";
  background: #0e1014;
}
.wrapper {
  min-height: 1140px;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

/*-------------------------------------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__text {
  font-size: 10px;
}
.header__container {
  display: flex;
  min-height: 73px;
  align-items: center;
}

.header__nav {
}
.nav {
}
.nav__list {
  display: flex;
  list-style-type: none;
}
.nav__item {
}
.nav__link {
  margin: 0px 0px 0px 30px;
}
.menu__link {
}
.__link {
}
.header__contact {
  display: flex;
}
.tel {
  margin-left: 137px;
}
.contact__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.contact__item {
}
.contact__link {
  text-decoration: none;
  margin: 0px 0px 0px 32px;
}
/*-------------------------------------------------------------------------------*/
